.panel {
    background-color: #444;
	overflow:hidden;
    padding: 10px;
}
.panel a{
    border: 2px solid #aaa;
    color: #fff !important;
    display: block;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1000;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    display: inline-block;
	width: 400px;
	height: 260px;
    left: 50%;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 40%;
    visibility: hidden;
    z-index: 1010;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#add_brand~.popup{
    width:500px;
}
.overlay:target+.popup {
    top: 48%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 1);
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 28px;
}
.close:before {
    color: rgba(255, 255, 255, 1);
    content: "×";
    font-size: 40px;
	font-weight:100;
}

.popup.h285{ height: 285px;}
.popup.h350{ height: 350px;}
.popup .text{ margin-top:80px;}
.popup .text p{ font-size:20px; margin-bottom:40px; color:#222;}
.popup .text2{ margin-top:50px; overflow:hidden;}
.popup .text2 p{ margin-bottom:20px; font-size:20px;}
.popup .text2 p span{ display:block; color:#222; }
.popup .text2 p span.brand{
    text-align: left;
    display: block;
    width:80%;
    margin:0 auto;
    line-height: 1;
    font-size: 16px;
    margin-top:10px;
}
.popup .text2 p b{ display:inline-block; width: 90%; margin:10px 0; padding-bottom:5px ; border-bottom:1px solid #222 !important; font-size:28px; color:#222;}
.popup .text2 p.input select{ padding:0;}
.popup .text2 p.input input, .popup .text2 p.input select{ width: 80%; border-bottom:1px solid #222; margin:5px 0 20px;  padding-left: 10px; font-size: 18px; color:#222; }

.popup.term{ width: 600px; height: auto; padding: 35px 35px 40px;}
.popup.term .text3 h3{ font-size:28px; line-height:140%; color:#222; font-weight:500; text-align:left;}
.popup.term .text3 p.txt{ line-height:160%; margin:10px 0 15px; font-size:15px; text-align:left; color:#222;}
.popup.term .text3 p span.point{ color:#e84250; border-bottom:1px solid #e84250; }
.popup.term .text3 p.txt-input{ margin-bottom:30px; text-align:left;}
.popup.term .text3 p.txt-input span{ display:block; margin:15px 0;}
.popup.term .text3 p input.full_width{ border:1px solid #ddd; margin:5px 0 20px; font-size: 16px;}
.popup.term .text3 p textarea{ margin:5px 0 30px; }

/* 약관 */
.termsTerm {
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	height: 320px;
	background:#fff;
	border:1px solid #d4d4d4;
	padding: 20px;
	margin:0 0 10px;
	text-align:left;
	line-height:150%;
	word-break:keep-all;
	font-size: 14px;
	scrollbar-face-color:#fff;/*스크롤바 표면 색상*/
	scrollbar-shadow-color:#f0f0f0;/*표면 오른쪽 부분 그림자 겉색상*/
	scrollbar-arrow-color:#999;/*스크롤바 조그만 삼각형 색상*/
	scrollbar-track-color:#f0f0f0;/*스크롤바 밑에 레일 트렉 색상*/
	}
.terms div { margin-bottom:20px; line-height:160%;}
.terms div p{ margin-bottom:8px; line-height:165%; word-break:keep-all;}
.terms div b{ display:block; margin-bottom:5px;}

.terms div ul li{line-height:150%; margin-bottom:8px;  word-break:keep-all; padding-left:15px;}
.terms div ul li span{display:inline-block; margin-left:-15px; }

.terms div ul.point{
    list-style: disc;
    margin-left:10px;
}
.terms div ul.point li {
    padding-left:0;
    font-size: 14px;
    font-weight: normal;
}
.terms div table{
    background-color:#aaa;
    font-size: 12px;
    border-collapse:separate;
    border-spacing: 1px;
}
.terms div th, .terms div td{
    padding:5px;
    background-color: white;
    margin:1px;
    line-height: 1.2;
}
.terms div th{
    text-align: center;
}

#popup_tab{
    margin-bottom:20px;
}
#popup_tab:after{
    content:'';
    display: block;
    clear:both;
}
#popup_tab li{
    width:25%;
    float: left;
    cursor:pointer;
    color:black;
    box-sizing: border-box;
    padding:1%;
}
#popup_tab li.select{
    border-bottom:3px solid black;
    font-weight: 900;
}

@media all and (min-width:340px) and (max-width:770px) {
	.popup { width: 320px; height: 210px;}
    #add_brand~.popup{
    width: 320px; height: 310px;
}
	.popup .text{ margin-top:60px;}
	.popup .text p{ font-size:18px; margin-bottom:30px;}
	
	.popup.h285{ height: 250px;}
	.popup .text2{ margin-top:40px; }
	.popup .text2 p{ font-size:18px;}
	.popup .text2 p b{ width: 90%; margin:5px 0; font-size:24px; color:#222;}
	.popup .text2 p.input input, .popup .text2 p.input select{ margin:5px 0 10px; font-size: 15px; }
	
	.popup.term{ width: 95%; padding: 15px 15px 20px;}
	.popup.term .text3 h3{ font-size:18px; }
	.popup.term .text3 p.txt{ line-height:150%; font-size:13px;}
	.popup.term .text3 p.txt-input{ margin-bottom:20px;}
	.popup.term .text3 p.txt-input span{margin:10px 0;}
	.termsTerm { height: 220px; padding: 10px; font-size: 12px;}

	.popup.term .text3 p input.full_width{ font-size: 12px;}
	.popup.term .text3 p textarea{ margin:5px 0 20px; }
}