@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

/* CSS reset */
*{box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, #sub, #sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, label {margin:0; padding:0; border:0; vertical-align:baseline; color:#555;}
html { overflow-y:scroll; font-family:'Montserrat', 'Noto Sans KR', 'Malgun Gothic', Dotum, Verdana, Arial, sans-serif !important; vertical-align: top; letter-spacing: -0.03em; }

/**************************************************************************************************************************************/
/***** 디자인 레이아웃 *****/
/* 전체 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{	
	padding:0px;
	margin:0px;
	vertical-align:top;	
	white-space:normal;
	word-wrap: break-word;
	word-break: keep-all;
}
html {overflow-y:auto}
html, body {width:100%;-webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{min-width:320px}
ul, ol {list-style-type:none}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;outline:none}
label {cursor:pointer}
i, em, address {font-style:normal}
caption,legend{visibility:hidden;width:0px;height:0px;font-size:0px;line-height:0px}
img{max-width:100%}
button{ border:none; background: none;}

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display:block;
   padding:0;
   margin:0
}

a {text-decoration:none;color:inherit;cursor:pointer;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); transition:all .3s ease;}
a:link, a:visited {text-decoration:none;color:inherit;}
/*a:not(.overlay):not(.popup .close):hover, a:focus, a:active{background:none;text-decoration:none;}*/


