/** 통합 레이아웃 시작 **/
#wrap {margin:0; position:relative; }
.pc-none{ display:none !important;}

/** 상단 로그인 영역 **/
.header {position:relative; width:1660px; height:100px; margin: 0 auto;}
.header h1{text-align:left; position:absolute; top:32px; z-index:999;}
.header .topmenu{position:absolute; top:32px; right:0; z-index:999;}
	.topmenu li{ float:left; margin-left:30px;}
	.topmenu li a{ font-size:12px; color:#222; }
	.topmenu li:nth-child(2) a{ display:inline-block; padding-top:26px; background:url(/img/common/ico_login.gif) no-repeat center 0; background-size: 24px;}
	.topmenu li:nth-child(3) a{ display:inline-block; padding-top:26px; background:url(/img/common/ico_join.gif) no-repeat center 0; background-size: 24px;}
	.topmenu li.my a{ height: 100px; line-height: 100px; background:none; padding-top:5px; font-size:16px; line-height: 30px; font-weight:500;}
	.topmenu li.my a img{ width: 30px; border-radius:15px; margin-right:8px;}
	.topmenu li.my ul.my_list{ position:absolute; top:58px; right:0; padding: 10px; border:1px solid #333; background: #fff;}
	.topmenu li.my ul.my_list li { float:none; margin:0;}
	.topmenu li.my ul.my_list li a { display:block; height: auto; line-height:130%; padding: 5px;  margin:0;  letter-spacing:-1px; font-size:14px; font-weight:400;}
	.topmenu li.my ul.my_list li a:hover span{ color:#e84250;}
	.topmenu li.search { padding-top:5px; border-bottom:2px solid #222; }
	.topmenu li.search input{ width: 200px; height: 32px; line-height: 32px; padding: 0; background: #fff; border:0;z-index:99;}
	.topmenu li.search img{width: 23px; }

/** 상단 메뉴 영역 **/
.gnb_area { height:60px;}
.moblie_topmenu{display:none;}
.gnb_box {position:relative; height:100px; z-index:99; }
	.main_menus_wrap{ position:relative; width: 100%;}
	.main_menus{ width:540px; margin-left:180px; }
	.main_menus ul#main_menus { height:100px; text-align:left; }
	.main_menus ul#main_menus li a.mainmenu{ display:inline-block; float:left; height: 100px; line-height: 100px; margin-right:45px; font-size:20px; color:#000; letter-spacing:-1px; box-sizing:border-box;}	
	.main_menus ul#main_menus li:hover a.mainmenu,
	.main_menus a.mainmenu:hover { /*border-bottom:4px solid #e84250; */color:#e84250; text-decoration:none;}
	.main_menus ul#main_menus li a.mainmenu b{ font-weight:600;}
	.main_menus ul#main_menus li:last-child a.mainmenu{ position:relative; padding: 0;}
	.main_menus ul#main_menus li:last-child a.mainmenu:after{ content:''; position:absolute; right:-13px; top:36px; width: 7px; height:7px; background:#e84250;border-radius:50%;}
	.main_menus ul#main_menus ol.depth{ position:absolute; top:90px; left:320px; border:1px solid #333; padding: 15px 20px; background: #fff;}
	.main_menus ul#main_menus ol.depth li a{ display:block; line-height:130%; padding: 5px 0;  margin:0;  letter-spacing:-1px; font-size:15px; }
	.main_menus ul#main_menus ol.depth li a:hover { color:#e84250;}
	#btn_home {display:none;}
	#btn_menulist_view {display:none;}

/** 메인 이미지 **/
.main-banner{width: 100%; clear:both; }
.slick-prev, .slick-next{ display:none; }

/******** 메인 컨텐츠 영역 ********/
.content-in{ position:relative; width:1660px; margin:80px auto; overflow:hidden; font-weight:400;}
.content-in2{ position:relative; width:1660px; margin:40px auto 80px; overflow:hidden;}
.content-in h2{ font-size:36px; font-weight:500; letter-spacing:-1px; color:#000; margin-bottom:25px;}

/* 플래티넘 캠페인 */
.campaign-list { position:relative; clear:both; }
.campaign-list ul li{ width: calc(25% - 15px); float:left; margin-right: 20px;}
.campaign-list ul li:last-child{margin-right: 0;}
.campaign-list .thum img{ width:100%;}
.campaign-list .info { position:relative; padding:18px 0;}
.campaign-list .info .ico-tag{ position:absolute; top:-28px; right:0;  }
.campaign-list .info .ico-tag span{ display:inline-block; height: 28px; line-height: 30px; float:left; padding:0 10px; font-size:13px; color:#fff;}
/*
방문 type01
재택 type02
*/
.campaign-list .info span.type01{ background:#b56cdf ;}
.campaign-list .info span.type02{ background:#46d5c1;}
.campaign-list .info span.bg-bl{ background:#222;}
.campaign-list .info span.dday{ background:#f7f7f7; color:#000; font-size:14px; font-weight:500;}
.campaign-list .info span.dday.on{ background: #ff4e4e; color:#fff; }
.campaign-list .info .txt-box .txt-top{ height: 24px; line-height: 24px;}
.campaign-list .info .txt-box .txt-top span{ display:inline-block; }
.campaign-list .info .txt-box .sns{ float:left; }
.campaign-list .info .txt-box .sns .blog,
.campaign-list .info .txt-box .sns .insta { padding: 0 14px; border-radius:12px; font-size:14px; background: #fff;}
.campaign-list .info .txt-box .sns .blog { color:#00c73c; border:1px solid #00c73c; }
.campaign-list .info .txt-box .sns .insta { color:#8154ef; border:1px solid #8154ef;}
.campaign-list .info .txt-box .num{ float:right; letter-spacing:-1px; }
.campaign-list .info .txt-box .num b{ font-weight:400; color:#000; }
.campaign-list .info .txt-box .subject{ display:block; width: 100%; margin:10px 0 8px; font-size:24px; font-weight:400; color:#000; letter-spacing:-1px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.campaign-list .info .txt-box .subtxt{ display:block; width: 90%; font-size:15px ; color:#888; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/* 프라임 캠페인 */
.campaign-list.w5 ul li{ width: calc(20% - 16px);}
.campaign-list.w5 ul li:nth-child(5n){margin-right: 0;}
.campaign-list.w5 .info .txt-box .sns.blog{ font-size:13px; }
.campaign-list.w5 .info .txt-box .subject{ font-size:22px; }

/* 그랜드 캠페인 */
.campaign-list.w6 ul li{ width: calc(16.666% - 16.666px); margin-bottom:40px; }
.campaign-list.w6 ul li:nth-child(6n){margin-right: 0;}
.campaign-list.w6 .info .ico-tag{ top:-26px;}
.campaign-list.w6 .info .ico-tag span{ height: 26px; line-height: 28px; padding:0 10px;}
.campaign-list.w6 .info .txt-box .sns .blog,
.campaign-list.w6 .info .txt-box .sns .insta { padding: 0 10px; font-size:13px; }
.campaign-list.w6 .info .txt-box .subject{ font-size:19px; }
.campaign-list.w6 .info .txt-box .num,
.campaign-list.w6 .info .txt-box .subtxt{ font-size:14px; }

/* 서브 캠페인 */
.campaign-list.sub6 ul li{ width: calc(16.666% - 16.666px); margin-bottom:40px; }
.campaign-list.sub6 ul li:nth-child(6n){margin-right: 0;}
.campaign-list.sub6 .info .ico-tag{ top:-26px;}
.campaign-list.sub6 .info .ico-tag span{ height: 26px; line-height: 28px; padding:0 10px;}
.campaign-list.sub6 .info .txt-box .sns .blog,
.campaign-list.sub6 .info .txt-box .sns .insta { padding: 0 10px; font-size:13px; }
.campaign-list.sub6 .info .txt-box .subject{ font-size:19px; }
.campaign-list.sub6 .info .txt-box .num,
.campaign-list.sub6 .info .txt-box .subtxt{ font-size:14px; }

/** 하단 정보영역 **/
footer{ position:relative; width: 1660px; margin:0 auto; padding:40px 0; border-top:1px solid #e9e9e9; }
.footer-call{ position:absolute; right:0; text-align:right;}
.footer-call p{ font-size:16px; color:#222; }
.footer-call b{ display:block; font-size:34px; color:#000; }
.footer-call small{ font-size:13px; color:#888; letter-spacing:-0.5px; }
.footer-call p a{ display:inline-block; height: 30px; line-height:28px; padding: 0 30px 0 20px ; margin-top:12px; border:1px solid #222; font-size:13px; color:#000; background: url(/img/common/s_arrow.gif) no-repeat 75% center; background-size:3px 5px;}
.footer{width:100%; overflow:hidden; word-break:keep-all; letter-spacing:0;  }
.footer-link { margin-bottom:16px; }
	ul.footer-link-lists li { display:inline-block; padding-right:5px; color:#ccc; font-size:14px; line-height:120%;}
	ul.footer-link-lists li a { display:inline-block; margin-right:10px; color:#222; font-size:16px; }
.footer-txt{ font-size:13px; line-height:190%; }
.footer-txt span{ display:block; float:left; }
.footer-txt span:nth-child(2),
.footer-txt span:nth-child(5){ float:none;}
.footer-txt small{ display:inline-block; margin:0 10px;}
.copyright{margin-top:6px;}

.btn-top{ position:fixed; right:30px; bottom:50px; z-index:9; }

/**************************************************************************************************************************************/
/****** 화면 해상도별 ******/
@media all and (max-width:1660px) {
	.header, .main_menus_wrap, .content-in, footer{ width:94%;}
	.btn-top{ right:20px; bottom:50px; }

	/******** 메인 컨텐츠 영역 ********/
	.content-in{ margin:60px auto; }
}

@media all and (max-width:1200px) {	
	.main_menus{ width:500px; margin-left:160px; }
	.main_menus ul#main_menus li a.mainmenu{ margin-right:35px; font-size:18px;}
	.main_menus ul#main_menus ol.depth{ left:275px; }

	/******** 메인 컨텐츠 영역 ********/
	.content-in{ margin:40px auto; }
	.content-in h2{ font-size:32px; margin-bottom:10px;}

	/* 그랜드 캠페인 */
	.campaign-list.w6 .info .ico-tag{ top:-24px; }
	.campaign-list.w6 .info .ico-tag span{ height: 24px; line-height: 24px; padding:0 6px; font-size:12px; }
	.campaign-list.w6 .info .txt-box .num{  font-size:11px; }
	.campaign-list.w6 .info .txt-box .sns .blog,
	.campaign-list.w6 .info .txt-box .sns .insta {font-size:11px;}
	.campaign-list.w6 .info .txt-box .subject{font-size:16px;}
	.campaign-list.w6 .info .txt-box .subtxt{ font-size:13px; }

	/* 서브 캠페인 */
	.campaign-list.sub6 ul li{ width: calc(25% - 15px); margin-bottom:20px;  }
	.campaign-list.sub6 .info{ padding: 10px 0 20px;}
	.campaign-list.sub6 ul li:nth-child(6n){margin-right: 20px;}
	.campaign-list.sub6 ul li:nth-child(4n){margin-right: 0;}

}

@media all  and (max-width:990px) {
	.pc-none{ display:inline-block !important;}
	.m-none{ display:none !important;}
	/** 상단 로그인 영역 **/
	.header_wrap { width:100%; height: 60px; position:fixed; top:0; z-index:99; background:#fff; }
	.header { width:100%; height:60px;}
	.header h1{ text-align:left; left:3%; top:18px; z-index:99;}
	.header h1 img{ width:100px;}
	.header ul.topmenu{ display:none;}

	/** 상단 메뉴 영역 **/
	.gnb_area { height:0; border-bottom:0; }
	.gnb_box { height:0;  z-index:999;}
	.main_menus { width:100%;}
	.main_menus ul#main_menus { width:300px; height:100%; position:fixed; top:0px; right:0; margin:0; background:#fff; z-index:99999; display:none; }	
	.main_menus ul#main_menus li { display:block; width:100%; overflow:hidden; margin-bottom:4px;}
	.main_menus ul#main_menus li a.mainmenu{ width:calc(100% - 60px); height:auto; line-height:100%; margin: 20px 30px 15px; text-align:left; font-size:28px; }
	.main_menus ul#main_menus ol.depth{ display:block !important; position:relative; top:0; left:0; border:none; padding: 15px 50px; background: none;}
	.main_menus ul#main_menus ol.depth li a{  line-height:140%; font-size:18px; color:#888; font-weight:400; }
	.main_menus ul#main_menus li:last-child a.mainmenu:after{ content:''; left:130px; top:0; width: 7px; height:7px; }
	.main_menus ul#main_menus li.search-box{ width:calc(100% - 30px); height: 50px; margin:10px 0 0 30px;}
	.main_menus ul#main_menus li.search-box .search{ display:inline-block; height: 40px;}
	.main_menus ul#main_menus li.search-box .search input{ width: 190px; height: 40px; line-height: 40px; padding: 0; font-size:15px; color:#888; }
	.main_menus ul#main_menus li.search-box .search img{ width: 20px; margin-top:9px; }
	.main_menus ul#main_menus li #close_menu{ float:right; margin-right: 22px; width:20px; height:40px;}
	.main_menus ul#main_menus li #close_menu a{ display:inline-block; width: 20px; height:40px; line-height:40px; background:url(/img/common/ico_close.png) no-repeat right 46%; background-size:19px; }
	.main_menus ul#main_menus li.m-login{ margin:5px 0 10px;}
	.main_menus ul#main_menus li.m-login span{ margin-left:28px;}
	.main_menus ul#main_menus li.m-login span a{ height: 30px; line-height: 30px; font-size:15px; color:#222; }
	.main_menus ul#main_menus li.m-login span:nth-child(1) a{ display:inline-block; padding-left:24px; background:url(/img/common/ico_login.gif) no-repeat 0 5px; background-size: 18px;}
	.main_menus ul#main_menus li.m-login span:nth-child(2) a{ display:inline-block; padding-left:24px; background:url(/img/common/ico_join.gif) no-repeat 0 5px; background-size: 18px;}
	.main_menus ul#main_menus li.m-login span.my a{ background:none; padding-left:0; }
	.main_menus ul#main_menus li.m-login span.my a img{width: 30px; border-radius:15px; margin-right:6px;}
	.main_menus ul#main_menus li.m-login span.logout a{ background:url(/img/common/ico_logout.gif) no-repeat 0 5px; background-size: 18px;}

	#btn_menulist_view { display:block; position:absolute; top:18px; right:4%;}	
	#btn_menulist_view img{ width:20px; height:21px;}
	#btn_menulist_view img.btn-top-search{ margin-right:17px; }
	.bg_gnb { display:none; height:0; width:0;}
	.body-slider-ovclick {display:none; position:fixed; z-index:99; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,0.5); }
	.login_menu{display:none;}

	/** 메인 이미지 **/
	.m-t60{ padding-top:60px; }

	/******** 메인 컨텐츠 영역 ********/
	.content-in{ margin:30px auto; }
	.content-in h2{ font-size:28px; margin-bottom:10px;}

	/* 플래티넘 캠페인 */
	.campaign-list .info .ico-tag{ top:-24px; }
	.campaign-list .info .ico-tag span{ height: 24px; line-height: 24px; padding:0 5px; font-size:11px;}
	.campaign-list .info span.dday{ font-size:11px; }
	.campaign-list .info .txt-box .txt-top{ height: 22px; line-height:18px;}
	.campaign-list .info .txt-box .sns .blog,
	.campaign-list .info .txt-box .sns .insta { padding: 1px 8px 0; font-size:12px; line-height:18px;}
	.campaign-list .info .txt-box .num{ font-size:12px; }
	.campaign-list .info .txt-box .subject{ margin:8px 0 2px; font-size:17px; }
	.campaign-list .info .txt-box .subtxt{ width: 100%; font-size:12px ;}

	/* 프라임 캠페인 */
	.campaign-list.w5 ul li{ width: calc(20% - 8px); margin-bottom:20px; margin-right: 10px; }
	.campaign-list.w5 .info{ padding: 10px 0 30px;}
	.campaign-list.w5 .info .txt-box { position:relative; padding-bottom:0;}
	.campaign-list.w5 .info .txt-box .num{ position:absolute; left:0; bottom:-25px; font-size:11px; }
	.campaign-list.w5 .info .txt-box .sns.blog{ font-size:10px; }
	.campaign-list.w5 .info .txt-box .subject{ margin: 5px 0 2px; font-size:14px; }

	/* 그랜드 캠페인 */
	.campaign-list.w6 ul li{ width: calc(20% - 8px); margin-bottom:20px; margin-right: 10px; }
	.campaign-list.w6 ul li:nth-child(6n){ margin-right: 10px; }
	.campaign-list.w6 ul li:nth-child(5n){ margin-right: 0;}
	.campaign-list.w6 .info { padding: 10px 0 30px;}
	.campaign-list.w6 .info .ico-tag{ top:-20px;}
	.campaign-list.w6 .info .ico-tag span{ height: 20px; line-height: 22px; padding:0 6px;}
	.campaign-list.w6 .info .txt-box { position:relative; padding-bottom:0;}
	.campaign-list.w6 .info .txt-box .num{ position:absolute; left:0; bottom:-25px; font-size:11px; }
	.campaign-list.w6 .info .txt-box .sns .blog,
	.campaign-list.w6 .info .txt-box .sns .insta { padding: 2px 8px 0; font-size:10px; line-height:16px; }
	.campaign-list.w6 .info .txt-box .subject{ margin: 5px 0 2px; font-size:14px;}
	.campaign-list.w6 .info .txt-box .num{  font-size:11px; }
	.campaign-list.w6 .info .txt-box .subtxt{ font-size:11px; }

	/* 서브 캠페인 */
	.campaign-list.sub6 ul li{ width: calc(25% - 8px); margin-right:10px;  }
	.campaign-list.sub6 ul li:nth-child(6n){margin-right: 10px;}
	.campaign-list.sub6 ul li:nth-child(4n){margin-right: 0;}
	.campaign-list.sub6 .info .txt-box .num{ font-size:11px; }
	.campaign-list.sub6 .info .ico-tag{ top:-24px; font-size:11px; }
	.campaign-list.sub6 .info .ico-tag span{ height: 24px; line-height: 24px; padding:0 6px;}
	.campaign-list.sub6 .info .txt-box .sns.blog{ font-size:11px; }
	.campaign-list.sub6 .info .txt-box .subject{ margin: 5px 0 2px; font-size:16px; }
	.campaign-list.sub6 .info .txt-box .subtxt{ font-size:13px; }

	/** 하단 정보영역 **/
	
	footer{ width: 100%;  display:block; border-top:0.75px solid #ccc;}
	footer:before{ content:''; display:block; position:absolute; top:0; width: 100%; height: 8px; border-bottom:0.75px solid #ccc; background:#e4e4e4; }
	.footer-txt span{ display:block; overflow:hidden; }	
	.footer-txt span:nth-child(1),
	.footer-txt span:nth-child(3),
	.footer-txt span:nth-child(4){ float:none;}
	.footer-txt span:nth-child(2){ float:left;}
	.footer-txt small{ margin:0 5px;}
}

@media all and (min-width:320px) and (max-width:770px) {
	/** 메인 이미지 **/
	.m-t60{ padding-top:60px; }
	.main-banner{ overflow:hidden; }
	.slick-list{ width: 150%; margin-left:-25% !important; }
	.slick-list img{ width: 100%;}

	/******** 메인 컨텐츠 영역 ********/
	.m-bg-f4{ background:#f4f4f4; overflow:hidden; }
	.content-in{ margin:0 auto; padding: 10px 0;}
	.content-in h2{ font-size:20px; margin-bottom:5px;}

	/* 플래티넘 캠페인 */
	.campaign-list ul li{ width: calc(50% - 5px);  margin:0 10px 10px 0; background: #fff; border:0.8px solid #d4d4d4; box-sizing:border-box; }
	.campaign-list ul li:nth-child(2n){ margin-right:0;}
	.campaign-list .info { padding:10px;}
	.campaign-list .info .ico-tag{ top:-20px; }
	.campaign-list .info .ico-tag span{ height: 20px; line-height: 22px; font-size:9px;}
	.campaign-list .info span.dday{ font-size:10px; }
	.campaign-list .info .txt-box .txt-top{ height: 18px; line-height:16px;}
	.campaign-list .info .txt-box .sns .blog,
	.campaign-list .info .txt-box .sns .insta { padding: 2px 8px 0; font-size:10px; line-height:16px;}
	.campaign-list .info .txt-box .sns .blog { border-width:0.8px; }
	.campaign-list .info .txt-box .sns .insta { border-width:0.8px; }
	.campaign-list .info .txt-box .num{ font-size:11px; }
	.campaign-list .info .txt-box .subject{ margin:8px 0 2px; font-size:14px; }
	.campaign-list .info .txt-box .subtxt{ width: 100%; font-size:11px ;}

	/* 프라임 캠페인 */
	.campaign-list.w5 ul li{ width: 100%; margin-bottom:5px; margin-right:0 }
	.campaign-list.w5 ul li .thum{ width: 110px; height: 110px; float:left; }
	.campaign-list.w5 ul li .info{ width: calc(100% - 110px); float:right; padding:10px 10px 0;}
	.campaign-list.w5 .info .ico-tag{ position:relative; top:0px; margin-right:5px;}
	.campaign-list.w5 .info .txt-box { position:relative; top:-21px; padding-bottom:0;}
	.campaign-list.w5 .info .txt-box .num{ position:absolute; left:0; bottom:-25px; font-size:11px; }
	.campaign-list.w5 .info .txt-box .sns{ float:right; }
	.campaign-list.w5 .info .txt-box .sns.blog{ font-size:11px; }
	.campaign-list.w5 .info .txt-box .subject{ margin: 8px 0 2px; font-size:14px; }

	/* 그랜드 캠페인 */
	.campaign-list.w6 ul li{ width: 100%; margin-bottom:5px; }
	.campaign-list.w6 ul li:nth-child(6n){margin-right: 0;}
	.campaign-list.w6 ul li .thum{ display:none; }
	.campaign-list.w6 ul li .info{ padding:10px;}
	.campaign-list.w6 .info .ico-tag{ position:relative; top:0px;}
	.campaign-list.w6 .info .txt-box {top:0;}
	.campaign-list.w6 .info .txt-box .txt-top{ float:right; margin-bottom:5px; }
	.campaign-list.w6 .info .txt-box .sns .blog,
	.campaign-list.w6 .info .txt-box .sns .insta { padding: 2px 8px 0; font-size:10px; line-height:16px; }
	.campaign-list.w6 .info .txt-box .subject{ margin: 8px 0 2px; font-size:14px;}
	.campaign-list.w6 .info .txt-box .num{ position:relative; left:0; top:0; margin:2px 0 0 5px; font-size:11px; }
	.campaign-list.w6 .info .txt-box .subtxt{ font-size:11px; }

	/* 서브 캠페인 */
	.campaign-list.sub6 ul li{ width: calc(50% - 5px);  margin:0 10px 10px 0; background: #fff; border:0.8px solid #d4d4d4; box-sizing:border-box; }
	.campaign-list.sub6 ul li:nth-child(2n){ margin-right:0;}
	.campaign-list.sub6 ul li .thum{ display:block; }
	.campaign-list.sub6 .info { padding:10px;}	
	.campaign-list.sub6 .info .ico-tag{ position: absolute; top:-20px; }
	.campaign-list.sub6 .info .ico-tag span{ height: 20px; line-height: 22px; font-size:9px;}
	.campaign-list.sub6 .info span.dday{ font-size:10px; }
	.campaign-list.sub6 .info .txt-box .txt-top{ float:none; height: 18px; line-height:16px;}
	.campaign-list.sub6 .info .txt-box .sns .blog,
	.campaign-list.sub6 .info .txt-box .sns .insta { padding: 2px 8px 0; font-size:10px; line-height:16px;}
	.campaign-list.sub6 .info .txt-box .sns .blog { border-width:0.8px; }
	.campaign-list.sub6 .info .txt-box .sns .insta { border-width:0.8px; }
	.campaign-list.sub6 .info .txt-box .num{ font-size:11px; }
	.campaign-list.sub6 .info .txt-box .subject{ margin:8px 0 2px; font-size:14px; }
	.campaign-list.sub6 .info .txt-box .subtxt{ width: 100%; font-size:11px ;}

	/** 하단 정보영역 **/
	footer{ width: 100%; padding:0;}
	.footer-call{ position:relative; text-align:center; padding:20px 0 25px;}
	.footer-call b{ font-size:30px; letter-spacing:0;margin-bottom:3px; }
	.footer-call small{ font-size:11px; }
	.footer-call p a{ height: 28px; line-height:28px; padding: 0 30px 0 25px ; margin-top:8px; border-width:0.8px; font-size:12px; }
	
	.footer{ padding: 25px 4%;  background:#eee; }
	.footer-link { margin-bottom:5px; }
		ul.footer-link-lists li {  padding-right:0px; font-size:11px; }
		ul.footer-link-lists li a { margin-right:5px; font-size:13px; }
	.footer-txt{ font-size:11px; line-height:180%; }
	.copyright{margin-top:6px;}

	.btn-top{ right:3%; bottom:26px;}
	.btn-top img{width: 36px;}
}